{% extends "app/layout.html" %}

{% block content %}

<div class="header"><h1>{{ title }}</h1></div>

<div id="maintext1">
    <p class="text">
        Адрес: г. Псков, ул. Ленина
    </p>
    <p class="text">
        Написать на почту:
        <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=mariya.tikhom@gmail.com">mariya.tikhom@gmail.com</a>
    </p>
    <p class="text">
        Вконтакте:
        <a href="https://vk.com/luneemar">Мария Тихомирова</a>
    </p>
    <p class="text">
        Телеграм:
        <a href="https://t.me/miariova">Мария Тихомирова</a>
    </p>
</div>

<div id="schedule">
    <p class="text">
        График работы:
    </p>
    <p class="text">
        ПН-ВС: с 12:00 до 19:00
    </p>
    <p class="text">
        Детские аттракционы с 12:00
    </p>
    <p class="text">
        Семейные аттракционы с 13:00
    </p>
    <p class="text">
        Экстремальные аттракционы с 13:00 - 14:00
    </p>
</div>

{% endblock %}
